In [1]:
my_list = [1,2,3,4,5,6]
list_sum = 0

for num in my_list:
    list_sum = list_sum + num

print(list_sum)

21

In [1]:
for letter in 'Hello World':
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [2]:
tup = (1,2,3,4,4)
for item in tup:
    print(item)

1
2
3
4
4

In [3]:
my_tup_list = [(1,2), (3,4), (5,6)]
for item in my_tup_list:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [5]:
len(my_tup_list)

3

In [7]:
for a,b in my_tup_list:
    print(a)
    print(b)

1
2
3
4
5
6

For a dictionary We interact only with the keys

In [8]:
d = {'k1':1, 'k2':2, 'k3':3}
for item in d:
    print(item)

k1
k2
k3

In [10]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [11]:
for key, value in d.items():
    print(key)
    print(value)

k1
1
k2
2
k3
3

In [12]:
for key, value in d.items():
    print(value)

1
2
3

In [13]:
for key, value in d.items():
    print(key)

k1
k2
k3

In [14]:
for _ in d:
    print('hello')

hello
hello
hello

Range start index at 0

In [1]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

The third parameter controls jum 2 after 2

In [2]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [3]:
list(range(0,11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
index_count = 0
for letter in 'abcde':
    print(f' at index {index_count} the letter is {letter}')
    index_count += 1

 at index 0 the letter is a
 at index 1 the letter is b
 at index 2 the letter is c
 at index 3 the letter is d
 at index 4 the letter is e

In [6]:
index_count = 0
word = 'abcde'
for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

Next code returns tuples

In [7]:
for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [9]:
for index, letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [10]:
my_list1 = [1,2,3,4,5]
mylist2 = ['a', 'b', 'c']
for item in zip(my_list1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [27]:
mylist = [element for element in 'hello']
mylist

['h', 'e', 'l', 'l', 'o']

In [32]:
#Valid but not recommended
mylist = []
for letter in 'hello':
    mylist.append(letter)

mylist

['h', 'e', 'l', 'l', 'o']

First element x is the element that will be shown in the new array

In [29]:
mylist = [x**2 for x in range (0,11)]
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

If I want to return only evens

In [33]:
mylist = [x for x in range (0,11) if x%2 ==0]
mylist

[0, 2, 4, 6, 8, 10]

In [34]:
celcius = [0,10,20,34.5]
fahrenheit = [((9/5) * temp +32) for temp in celcius]
fahrenheit

[32.0, 50.0, 68.0, 94.1]

Same example in for normal loop

In [36]:
fahrenheit = []
for temp in celcius:
    fahrenheit.append(((9/5) * temp +32))
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [38]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [39]:
mylist =[]
for x in [2,3,6]:
    for y in [1,10,1000]:
        mylist.append(x*y)
mylist

[2, 20, 2000, 3, 30, 3000, 6, 60, 6000]